{% extends 'secretsanta/base.html' %}

{% block main %}
    <form class="form-horizontal" action="{% url 'secretsanta:details' %}" method="post">
        {% csrf_token %}
        {% if messages %}
            <div class="form-group">
                {% for message in messages %}
                    <div class="col-sm-12 error">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="form-group">
            <label class="col-sm-2 control-label">Who are you?</label>
            <div class="col-sm-2">
                <select id="person" name="person" class="form-control">
                    <option>-----</option>
                    {% for person in persons %}
                        <option value="{{ person.id }}">{{ person.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="form-group" id="sec" style="display: none;">
            <label class="col-sm-2 control-label">Enter your secret key:</label>
            <div class="col-sm-3">
                <input type="text" name="secret_key" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <button class="btn btn-default" type="submit">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
